<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.hasselbalch.dirk.auto-loopback</string>
        <key>OnDemand</key>
        <true/>
        <key>Program</key>
        <string>/Library/Scripts/auto-loopback</string>
        <key>ProgramArguments</key>
        <array>
            <string>trim</string>
        </array>
        <key>WatchPaths</key>
        <array>
            <string>/etc/hosts</string>
        </array>
    </dict>
</plist>
